.chat-app {
  display: flex;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

/* SIDEBAR */
/* .sidebar {
  width: max-content;
  background: #f5f7fa;
  border-right: 1px solid #e2e6ea;
  padding: 20px;
  overflow-y: auto;
} */

.profile-box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.profile-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.profile-name {
  font-size: 18px;
  font-weight: 600;
}

.profile-role {
  font-size: 12px;
  color: #888;
}

.search-box {
  width: 100%;
  padding: 12px;
  border-radius: 14px;
  border: 1px solid #d0d7de;
  margin-bottom: 20px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
}

.contact-item:hover {
  background: #ebf0f6;
}

.contact-item.active {
  background: #dce6f9;
}

.contact-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.contact-name {
  font-weight: 600;
  font-size: 14px;
}

.contact-last {
  font-size: 12px;
  color: #777;
}

/* CHAT WINDOW */
.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
}

.chat-header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-bottom: 1px solid #e1e5e8;
}

.chat-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.chat-name {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.online {
  margin: 0;
  color: #2ecc71;
  font-size: 13px;
}

/* CHAT BODY */
.chat-body {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background: #f7f8fa;
}

.bubble {
  max-width: 60%;
  padding: 12px 16px;
  border-radius: 16px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.bubble.them {
  background: #e7efff;
  margin-right: auto;
}

.bubble.me {
  background: #4a90e2;
  color: white;
  margin-left: auto;
}

.bubble-text {
  margin: 0 0 5px 0;
  font-size: 14px;
}

.attachment {
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  color: #333;
  font-weight: 600;
}

.bubble-time {
  font-size: 10px;
  opacity: 0.7;
  margin-top: 6px;
  text-align: right;
}

/* INPUT AREA */
.chat-input {
  border-top: 1px solid #e1e4e8;
  display: flex;
  padding: 12px;
  gap: 10px;
}

.chat-input textarea {
  flex: 1;
  height: 50px;
  resize: none;
  border-radius: 12px;
  border: 1px solid #cbd5e1;
  padding: 12px;
}

.send-btn {
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 0 20px;
  font-size: 20px;
  cursor: pointer;
}
